.container{
    display:flex;
    background-color:floralwhite;
}
.left{
    width:50%;
    height:100vh;
    text-align: center;

}
.right{
    width:50%;
    height:100vh;
    padding-top: 90px;

}
